---
provider:
  name: digitalocean
env:
  - name: DO_TOKEN
    valueFrom:
      secretKeyRef:
        name: do-token
        key: do-token
sources:
  - service
  - ingress
  - gateway-httproute
  - gateway-grpcroute
  - gateway-tcproute
  - gateway-tlsroute
  - gateway-udproute
domainFilters:
  - cloud.blacksd.tech
txtOwnerId: freeloader
interval: 5m
extraArgs:
  - --exclude-target-net=10.0.0.0/8
  - --exclude-target-net=172.16.0.0/12
  - --exclude-target-net=192.168.0.0/16
