---
provider:
  name: digitalocean
env:
  - name: DO_TOKEN
    valueFrom:
      secretKeyRef:
        name: do-token
        key: do-token
sources:
  - service
  - ingress
  - gateway-httproute
  - gateway-grpcroute
  - gateway-tcproute
  - gateway-tlsroute
  - gateway-udproute
domainFilters:
  - cloud.blacksd.tech
txtOwnerId: freeloader
interval: 5m
