apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - oci-vault-email.yaml
  - oci-vault-oke.yaml
  - oci-vault-s3.yaml
  - sender-smtp-cluster-sync.yaml
  - letsencrypt-account-key.yaml
